html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*
 * Default styling is for dumb phones on a small screen. This has the drawback that
 * IE8 and below use that same styling, but that represents a small market share.
 */
body {
  font-family: "Palatino Linotype", Palatino, "Palatino Regular", "Times New Roman", Times, serif;
  font-size: 0.8rem;
  line-height: 1.4em;
  /* Preclude auto-text zoom on some elements when changing to landscape in iOS. */
  -webkit-text-size-adjust: 100%;
  position: relative;
  max-width: 970px;
  margin: 0 auto; }

/* Preclude images from overflowing their boxes. */
img {
  max-width: 100%; }

figure {
  margin: 0;
  padding: 0; }

/* Hyperlinks should be colored, but not underlined, and underline on hover. */
a {
  text-decoration: none;
  color: #1d3875; }
  a:hover, a:focus {
    text-decoration: underline; }

h1 {
  font-family: Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.2em;
  margin: .5em 0 0 0;
  color: #4760BD; }

h2 {
  font-family: Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.4em;
  margin: .5em 0 0 0; }

/* Paragraphs have 1 line-height of space between them. */
p {
  position: relative;
  margin: 0.7em 0;
  padding: 0 0 0.7em 0;
  max-width: 42em; }

blockquote, dl, .indent {
  margin: 0.7em 0 0.7em 2.5rem;
  padding: 0 0 0.7em 0; }

dt {
  float: left;
  width: 7em;
  font-weight: bold; }

dd {
  margin-left: 7em; }

/* Detailed text that can be omitted on small screens. */
.detail {
  display: none; }

#header {
  position: relative;
  margin: 10px 20px 0 20px;
  height: 85px;
  background: url(header-bar.png) transparent 0 25px repeat-x;
  *zoom: 1; }
  #header:after {
    content: "";
    display: table;
    clear: both; }

#skipLink {
  font-size: 1px;
  line-height: 1.4em;
  position: absolute; }
  #skipLink a, #skipLink a:visited {
    color: white; }

#motto {
  display: none; }
  @media print {
    #motto {
      display: none; } }

#main-menu {
  font-size: 0.9rem;
  line-height: 1.5em;
  font-family: Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  float: right;
  margin: 0;
  padding: 0 0 0 2em;
  list-style: none;
  background: white; }
  @media print {
    #main-menu {
      display: none; } }
  #main-menu .selected {
    list-style: disc; }

#logo {
  margin-right: 5rem;
  padding-left: 20px; }

.slideshow {
  position: relative;
  max-width: 100%;
  margin: .7em 0 0 0;
  padding: 0;
  background-color: #C9D4FF;
  *zoom: 1;
  list-style: none; }
  .slideshow:after {
    content: "";
    display: table;
    clear: both; }
  .slideshow li {
    margin: 0;
    padding: 0; }
  .slideshow figure {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 140px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
    .slideshow figure img {
      display: block; }
    .slideshow figure .credit {
      font-size: .5rem;
      position: absolute;
      right: 1em;
      bottom: .5em;
      color: white;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
      opacity: 0.7; }
  .slideshow li:first-child figure {
    position: relative;
    float: left;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }
  .slideshow figcaption {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    padding: 8px 20px; }
  .slideshow .link {
    font-size: 0.75rem;
    line-height: 1.2em;
    float: right;
    width: 140px;
    color: #1d3875;
    border-top: 1px solid #E0E0E0; }
    .slideshow .link:first-child {
      border-top: 1px solid #C0C0C0; }
    .slideshow .link a {
      display: block;
      margin: 0;
      padding: .4em 0 .4em 10px; }
  .slideshow li:first-child figure img {
    border-top: none; }
  .slideshow li:first-child .link {
    border-top: none; }

/* Animation switches images and link highlights every 6 seconds. */
.slideshow li:nth-child(1) figure {
  -moz-animation: xfade 30s 0s infinite;
  -webkit-animation: xfade 30s 0s infinite;
  animation: xfade 30s 0s infinite; }

.slideshow li:nth-child(2) figure {
  -moz-animation: xfade 30s 6s infinite;
  -webkit-animation: xfade 30s 6s infinite;
  animation: xfade 30s 6s infinite; }

.slideshow li:nth-child(3) figure {
  -moz-animation: xfade 30s 12s infinite;
  -webkit-animation: xfade 30s 12s infinite;
  animation: xfade 30s 12s infinite; }

.slideshow li:nth-child(4) figure {
  -moz-animation: xfade 30s 18s infinite;
  -webkit-animation: xfade 30s 18s infinite;
  animation: xfade 30s 18s infinite; }

.slideshow li:nth-child(5) figure {
  -moz-animation: xfade 30s 24s infinite;
  -webkit-animation: xfade 30s 24s infinite;
  animation: xfade 30s 24s infinite; }

@-moz-keyframes xfade {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  20% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-webkit-keyframes xfade {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  20% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes xfade {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  20% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
.slideshow li:nth-child(1) .link a {
  -moz-animation: highlight 30s 0s infinite;
  -webkit-animation: highlight 30s 0s infinite;
  animation: highlight 30s 0s infinite; }

.slideshow li:nth-child(2) .link a {
  -moz-animation: highlight 30s 6s infinite;
  -webkit-animation: highlight 30s 6s infinite;
  animation: highlight 30s 6s infinite; }

.slideshow li:nth-child(3) .link a {
  -moz-animation: highlight 30s 12s infinite;
  -webkit-animation: highlight 30s 12s infinite;
  animation: highlight 30s 12s infinite; }

.slideshow li:nth-child(4) .link a {
  -moz-animation: highlight 30s 18s infinite;
  -webkit-animation: highlight 30s 18s infinite;
  animation: highlight 30s 18s infinite; }

.slideshow li:nth-child(5) .link a {
  -moz-animation: highlight 30s 24s infinite;
  -webkit-animation: highlight 30s 24s infinite;
  animation: highlight 30s 24s infinite; }

@-moz-keyframes highlight {
  0% {
    background-color: #535a60;
    color: white; }
  20% {
    background-color: #535a60;
    color: white; }
  20.1% {
    background-color: #C9D4FF;
    color: #1d3875; }
  99.9% {
    background-color: #C9D4FF;
    color: #1d3875; }
  100% {
    background-color: #C9D4FF;
    color: #1d3875; } }
@-webkit-keyframes highlight {
  0% {
    background-color: #535a60;
    color: white; }
  20% {
    background-color: #535a60;
    color: white; }
  20.1% {
    background-color: #C9D4FF;
    color: #1d3875; }
  99.9% {
    background-color: #C9D4FF;
    color: #1d3875; }
  100% {
    background-color: #C9D4FF;
    color: #1d3875; } }
@keyframes highlight {
  0% {
    background-color: #535a60;
    color: white; }
  20% {
    background-color: #535a60;
    color: white; }
  20.1% {
    background-color: #C9D4FF;
    color: #1d3875; }
  99.9% {
    background-color: #C9D4FF;
    color: #1d3875; }
  100% {
    background-color: #C9D4FF;
    color: #1d3875; } }
#body {
  margin: 30px 20px; }

#button-bar {
  margin: 20px 0;
  text-align: center; }

a.button {
  font-size: 0.9rem;
  line-height: 1.4em;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-family: Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 2px;
  padding: 5px 20px;
  width: 160px;
  color: white;
  background-color: #4760BD; }

#footer {
  margin-top: 2.8em;
  padding: 10px 20px;
  background: #E0E0E0; }
  #footer > *:last-child {
    padding-bottom: 0; }

.ticket-menu {
  column-width: 450px;
  -moz-column-width: 450px;
  -webkit-column-width: 450px; }
  .ticket-menu > p {
    *zoom: 1;
    clear: both;
    margin: 0.7em 0 1.4em 0;
    padding: 0;
    vertical-align: top;
    max-width: unset;
    break-inside: avoid; }
    .ticket-menu > p:after {
      content: "";
      display: table;
      clear: both; }
    .ticket-menu > p:first-child {
      margin-top: 0; }
    .ticket-menu > p > * {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      margin: 0 1em 0 0;
      padding: 0;
      vertical-align: top; }
      .ticket-menu > p > *:last-child {
        margin-right: 0; }
  .ticket-menu a.button {
    width: 110px; }
  .ticket-menu img {
    width: 200px; }

/*
 * Screen widths to target:
 *   320 - Vertical menu, stacked images
 *   480 - Vertical menu, slide show
 *   585 - Horizontal menu, motto, slide show, detail text
 */
@media screen and (max-width: 479px) {
  /*
   * Screen is too narrow for the slide show.
   */
  .slideshow figure {
    /* No need to float the figures, since we aren't animating. */
    position: relative;
    width: 50%;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }
  .slideshow li:first-child figure {
    float: none; }
  .slideshow figcaption {
    display: none; }
  .slideshow .link {
    /* We can use larger text, since we're using 50% of the width. */
    @inclue text-size(.9em, 1.4em);
    float: right;
    width: 50%; }

  @keyframes xfade {
    0% {
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1; }
    100% {
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1; } }
  @keyframes highlight {
    0% {
      background-color: #C9D4FF;
      color: #1d3875; }
    100% {
      background-color: #C9D4FF;
      color: #1d3875; } } }
/* screen and (max-width: 479px) */
@media screen and (min-width: 480px) {
  /*
   * Screen is wide enough to show the slide show. Position the figures on the left,
   * and the links on the right, and animate the image flipping and link highlighting.
   */
  /* Add a little more padding to the top of ticket menu items, since they are
   * shown next to their images instead of below.
   */
  .ticket-menu > p > .item {
    padding-top: calc(66px - 1.4em - 17px); } }
/* screen and (min-width: 480px) */
@media screen and (min-width: 585px) {
  /*
   * Screen is wide enough to show larger text, by default, show the motto, and
   * move the main menu inside the logo bar.
   */
  body {
    font-size: 0.9rem;
    line-height: 1.4em; }

  #motto {
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    text-align: right;
    font-style: italic; }

  #main-menu {
    font-size: 0.8rem;
    line-height: 1.4em;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 184px;
    bottom: 5px;
    color: white;
    background: transparent; }
    #main-menu li {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      padding: 0 .4em; }
      #main-menu li.selected::before {
        content: "\2022\2009"; }
    #main-menu a, #main-menu a:visited {
      color: white; }

  /* Links in the slide show can get a little more padding. */
  .slideshow .link a {
    padding: 0.7em 0 0.7em 10px; } }
/* screen and (min-width: 585px) */
@media screen and (min-width: 700px) {
  /*
   * Screen is wide enough to make the menu text larger and widen the slide show
   * link panel a bit.
   */
  #main-menu {
    font-size: 0.9rem;
    line-height: 1.4em; }
    #main-menu li {
      padding: 0 .5em; }

  .slideshow figure {
    width: calc(100% - 250px); }
  .slideshow .link {
    font-size: 0.8rem;
    line-height: 1.4em;
    width: 249px; }
    .slideshow .link a {
      padding: 0.7em 0 0.7em 20px; }

  /* Also show detail text. */
  .detail {
    display: inline; } }
/* screen and (min-width: 700px) */
@media screen and (min-width: 960px) {
  /*
   * Screen is wide enough that the slide show images will reach their full size,
   * so widen the slide show link panel to take up the rest of the space.
   */
  .slideshow figure {
    width: calc(100% - 300px); }
  .slideshow .link {
    font-size: 0.9rem;
    line-height: 1.4em;
    width: 299px; } }
/* screen and (min-width: 960px) */

/*# sourceMappingURL=main.css.map */
