@import "compass/utilities";
@import "compass/css3/opacity";
@import "compass/css3/animation";
@import "compass/css3/inline-block";
@import "compass/css3/transition";
@import "compass/reset";
@import "compass/typography/links/hover-link";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/float";

// Set the font size and line height, in one step, since the line height must
// be set after the font size.
@mixin text-size($font-size, $line-height: 1.4em) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin column-width($width) {
  column-width: $width;
  -moz-column-width: $width;
  -webkit-column-width: $width;
}

$indentWidth: 2.5rem;

$designWidth: 970px;
$lineHeight: 1.4em;
$halfLine: $lineHeight / 2;

$tightLineHeight: 1.2em;

$lightGray: #E0E0E0;
$medGray: #C0C0C0;

$buttonColor: #4760BD;
$linkColor: #143CD8;
$slideshowBackground: #E8EEFF;
$headerBackground: #535a60;
$captionBackground: hsla(0, 0, 0, .3);

$buttonHorizontalPadding: 20px;

$fontFamily: "Palatino Linotype", Palatino, "Book Antiqua", "Palatino Regular", "Times New Roman", Times, serif;
$altFontFamily: "Gill Sans Nova", "Gill Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/*
 * Default styling is for dumb phones on a small screen. This has the drawback that
 * IE8 and below use that same styling, but that represents a small market share.
 */

body {
  font-family: $fontFamily;
  @include text-size(.8rem);
  /* Preclude auto-text zoom on some elements when changing to landscape in iOS. */
  -webkit-text-size-adjust:100%;
  position: relative;
  max-width: $designWidth;
  margin: 0 auto;
}

strong {
  font-weight: bold;
}

/* Preclude images from overflowing their boxes. */
img {
  max-width: 100%;
}

.figure {
  margin: 0;
  padding: 0;
}

/* Hyperlinks should be colored, but not underlined, and underline on hover. */
a {
  @include hover-link;
  color: $linkColor;
}

h1 {
  font-family: $altFontFamily;
  @include text-size(1.4rem, 1.2em);
  margin: .5em 0 0 0;
  color: $buttonColor;
}

h2 {
  font-family: $altFontFamily;
  @include text-size(1.2rem, 1.4em);
  margin: .5em 0 0 0;
}

/* Paragraphs have 1 line-height of space between them. */
// TODO: Experiment with top margin of $lineHeight, bottom margin of
// $halfLine, and no padding, plus h1+* and h2+* have $halfLine of top
// margin.
p {
  position: relative;
  margin: $halfLine 0;
  padding: 0 0 $halfLine 0;
  max-width: 42em;
}

blockquote, dl, .indent {
  margin: $halfLine 0 $halfLine $indentWidth;
  padding: 0 0 $halfLine 0;
}

dt {
  @include float-left;
  width: 7em;
  font-weight: bold;
}

dd {
  margin-left: 7em;
}

/* Detailed text that can be omitted on small screens. */
.detail {
  display: none;
}

#header {
  position: relative;
  margin: 10px 20px 0 20px;
  height: 85px;
  background: url(header-bar.png) transparent 0 25px repeat-x;
  // Clear to bottom of all floats so background takes entire space.
  @include pie-clearfix;
}

#skipLink {
  @include text-size(1px);
  position: absolute;

  a, a:visited {
    color: white;
  }
}

#motto {
  @media print {
    display: none;
  }

  display: none;
}

#main-menu {
  @media print {
    display: none;
  }

  @include text-size(.9rem, 1.5em);
  font-family: $altFontFamily;
  display: block;
  @include float-right;
  margin: 0;
  padding: 0 0 0 2em;
  list-style: none;
  background: white;

  .selected {
    list-style: disc;
  }
}

#logo {
  margin-right: 5rem;
  padding-left: 20px;
}

.slideshow {
  position: relative;
  max-width: 100%;
  margin: .7em 0 0 0;
  padding: 0;
  background-color: $slideshowBackground;
  // Clear to bottom of all floats so background takes entire space.
  @include pie-clearfix;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
  }

  .figure {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 140px);
    @include transparent;

    img {
      display: block;
    }

    .credit {
      font-size: .5rem;
      position: absolute;
      right: 1em;
      bottom: .5em;
      color: white;
      @include opacity(.7);
    }

    .caption {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      color: white;
      background: $captionBackground;
      padding: 8px 20px;
    }
  }

  li:first-child .figure {
    position: relative;
    @include float-left;
    @include opaque;
  }

  .link {
    @include text-size(.75rem, 1.2em);
    @include float-right;
    width: 140px;
    color: $linkColor;

    border-top: 1px solid $lightGray;
  
    a {
      display: block;
      margin: 0;
      padding: .4em 0 .4em 10px;
    }
  }

  li:first-child {
    .link {
      border-top: none;
    }
  }

}

/* Animation switches images and link highlights every 6 seconds. */

@for $i from 1 through 5 {
  .slideshow li:nth-child(#{$i}) .figure {
    @include animation(xfade 30s #{6 * ($i - 1)}s infinite);
  }
}

/*
 * Use the official syntax here so IE will pick it  up. We'll prefix with
 *"-webkit-" only in @media queries.
 */
@include keyframes (xfade) {
  0% {
    @include transparent;
  }
  5% {
    @include opaque;
  }
  20% {
    @include opaque;
  }
  25% {
    @include transparent;
  }
  100% {
    @include transparent;
  }
}

@for $i from 1 through 5 {
  .slideshow li:nth-child(#{$i}) .link a {
    @include animation(highlight 30s #{6 * ($i - 1)}s infinite);
  }
}

/*
 * Use the official syntax here so IE will pick it  up. We'll prefix with
 *"-webkit-" only in @media queries.
 */
@include keyframes(highlight) {
  0% {
    background-color: $headerBackground;
    color: white;
  }
  20% {
    background-color: $headerBackground;
    color: white;
  }
  20.1% {
    background-color: $slideshowBackground;
    color: $linkColor;
  }
  99.9% {
    background-color: $slideshowBackground;
    color: $linkColor;
  }
  100% {
    background-color: $slideshowBackground;
    color: $linkColor;
  }
}

#body {
  margin: 30px 20px;
}

#button-bar {
  margin: 20px 0;
  text-align: center;
}

a.button {
  @include text-size(.9rem);
  @include inline-block;
  font-family: $altFontFamily;
  text-align: center;
  margin: 2px;
  padding: 5px $buttonHorizontalPadding;
  width: 200px - 2*$buttonHorizontalPadding;
  color: white;
  background-color: $buttonColor;
}

#footer {
  margin-top: 2.8em;
  padding: 10px 20px;
  background: $lightGray;

  > *:last-child {
    padding-bottom: 0;
  }
}

.ticket-menu {
  @include column-width(450px);

  > p {
    // Clear to bottom of all floats so background takes entire space.
    @include pie-clearfix;
    clear: both;
    margin: $halfLine 0 1.4em 0;
    padding: 0;
    vertical-align: top;
    max-width: unset;
    break-inside: avoid;

    &:first-child {
      margin-top: 0;
    }

    > * {
      @include inline-block;
      margin: 0 1em 0 0;
      padding: 0;
      vertical-align: top;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  a.button {
    width: 150px - 2*$buttonHorizontalPadding;
  }

  img {
    width: 200px;
  }
}

/*
 * Screen widths to target:
 *   320 - Vertical menu, stacked images
 *   480 - Vertical menu, slide show
 *   585 - Horizontal menu, motto, slide show, detail text
 */

@media screen and (max-width: 479px) {

/*
 * Screen is too narrow for the slide show.
 */

.slideshow {
  background-color: transparent;

  .figure {
    /* No need to float the figures, since we aren't animating. */
    position: relative;
    width: 50%;
    @include opaque;
    margin-bottom: .7em;

    .caption {
      display: none;
    }
  }

  li:first-child .figure {
    float: none;
  }

  .link {
    /* We can use larger text, since we're using 50% of the width. */
    @inclue text-size(.9em, 1.4em);
    @include float-right;
    width: 50%;
    border: none;
    padding-top: 1.4em;
  }
}

@for $i from 1 through 5 {
  .slideshow li:nth-child(#{$i}) .figure {
    @include animation(no-fade 30s #{6 * ($i - 1)}s infinite);
  }
}

@for $i from 1 through 5 {
  .slideshow li:nth-child(#{$i}) .link a {
    @include animation(no-highlight 30s #{6 * ($i - 1)}s infinite);
  }
}

@include keyframes(no-fade) {
  0% {
    @include opaque;
  }
  100% {
    @include opaque;
  }
}

@include keyframes (no-highlight) {
  0% {
    background-color: transparent;
    color: $linkColor;
  }
  100% {
    background-color: transparent;
    color: $linkColor;
  }
}

} /* screen and (max-width: 479px) */

@media screen and (min-width: 480px) {

/*
 * Screen is wide enough to show the slide show. Position the figures on the left,
 * and the links on the right, and animate the image flipping and link highlighting.
 */

/* Add a little more padding to the top of ticket menu items, since they are
 * shown next to their images instead of below.
 */
.ticket-menu > p > .item {
  padding-top: calc(66px - 1.4em - 17px);
}

} /* screen and (min-width: 480px) */

@media screen and (min-width: 585px) {

/*
 * Screen is wide enough to show larger text, by default, show the motto, and
 * move the main menu inside the logo bar.
 */

body {
  @include text-size(.9rem);
}

#motto {
  display: block;
  position: absolute;
  top: 0;
  right: 20px;
  text-align: right;
  font-style: italic;
}

#main-menu {
  @include text-size(.8rem);
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 184px;
  bottom: 5px;
  color: white;
  background: transparent;

  li {
    @include inline-block;
    padding: 0 .4em;

    &.selected::before {
      content: "\2022\2009";
    }
  }

  a, a:visited {
    color: white;
  }
}

/* Links in the slide show can get a little more padding. */
.slideshow .link a {
  padding: $halfLine 0 $halfLine 10px;
}

} /* screen and (min-width: 585px) */

@media screen and (min-width: 700px) {

/*
 * Screen is wide enough to make the menu text larger and widen the slide show
 * link panel a bit.
 */

#main-menu {
  @include text-size(.9rem);

  li {
    padding: 0 .5em;
  }
}

.slideshow {
  .figure {
    width: calc(100% - 250px);
  }

  .link {
    @include text-size(.8rem);
    width: 249px;

    a {
      padding: $halfLine 0 $halfLine 20px;
    }
  }
}

/* Also show detail text. */
.detail {
  display: inline;
}

} /* screen and (min-width: 700px) */

@media screen and (min-width: 960px) {

/*
 * Screen is wide enough that the slide show images will reach their full size,
 * so widen the slide show link panel to take up the rest of the space.
 */

.slideshow {
  .figure {
    width: calc(100% - 300px);
  }

  .link {
    @include text-size(.9rem);
    width: 299px;
  }
}

} /* screen and (min-width: 960px) */
