@import "compass/utilities";
@import "compass/utilities";
@import "compass/css3/opacity";
@import "compass/utilities/general/float";

// Set the font size and line height, in one step, since the line height must
// be set after the font size.
@mixin text-size($font-size, $line-height: 1.4em) {
  font-size: $font-size;
  line-height: $line-height;
}

body {
  @include text-size(80%);
}

h1 {
  font-size: 140%;
}

h2 {
  font-size: 120%;
}

#main-menu {
  @include text-size(.8rem);
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 184px;
  bottom: 5px;
  color: white;
  background: transparent;

  li {
    @include inline-block;
    padding: 0 .4em;

    &.selected::before {
      content: "\2022\2009";
    }
  }

  a, a:visited {
    color: white;
  }
}

.slideshow {

  .figure {
    @include opaque;
    width: 70%;

    .caption {
      display: none;
    }
  }

  li:first-child .figure {
    float: none;
  }

  .link {
    width: 30%;
  }

}
