@font-face {
  font-family: 'Cooper Hewitt Bold';
  src: url('CooperHewitt-Bold.eot');
  src: url('CooperHewitt-Bold.eot?#iefix') format('embedded-opentype'),
       url('CooperHewitt-Bold.woff ') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt Bold Italic';
  src: url('CooperHewitt-BoldItalic.eot');
  src: url('CooperHewitt-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('CooperHewitt-BoldItalic.woff ') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Cooper Hewitt Book';
  src: url('CooperHewitt-Book.eot');
  src: url('CooperHewitt-Book.eot?#iefix') format('embedded-opentype'),
       url('CooperHewitt-Book.woff ') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt Book Italic';
  src: url('CooperHewitt-BookItalic.eot');
  src: url('CooperHewitt-BookItalic.eot?#iefix') format('embedded-opentype'),
       url('CooperHewitt-BookItalic.woff ') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Cooper Hewitt Heavy';
  src: url('CooperHewitt-Heavy.eot');
  src: url('CooperHewitt-Heavy.eot?#iefix') format('embedded-opentype'),
       url('CooperHewitt-Heavy.woff ') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt Heavy Italic';
  src: url('CooperHewitt-HeavyItalic.eot');
  src: url('CooperHewitt-HeavyItalic.eot?#iefix') format('embedded-opentype'),
       url('CooperHewitt-HeavyItalic.woff ') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Cooper Hewitt Light';
  src: url('CooperHewitt-Light.eot');
  src: url('CooperHewitt-Light.eot?#iefix') format('embedded-opentype'),
       url('CooperHewitt-Light.woff ') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt Light Italic';
  src: url('CooperHewitt-LightItalic.eot');
  src: url('CooperHewitt-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('CooperHewitt-LightItalic.woff ') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Cooper Hewitt Medium';
  src: url('CooperHewitt-Medium.eot');
  src: url('CooperHewitt-Medium.eot?#iefix') format('embedded-opentype'),
       url('CooperHewitt-Medium.woff ') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt Medium Italic';
  src: url('CooperHewitt-MediumItalic.eot');
  src: url('CooperHewitt-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('CooperHewitt-MediumItalic.woff ') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Cooper Hewitt Semibold';
  src: url('CooperHewitt-Semibold.eot');
  src: url('CooperHewitt-Semibold.eot?#iefix') format('embedded-opentype'),
       url('CooperHewitt-Semibold.woff ') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt Semibold Italic';
  src: url('CooperHewitt-SemiboldItalic.eot');
  src: url('CooperHewitt-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
       url('CooperHewitt-SemiboldItalic.woff ') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Cooper Hewitt Thin';
  src: url('CooperHewitt-Thin.eot');
  src: url('CooperHewitt-Thin.eot?#iefix') format('embedded-opentype'),
       url('CooperHewitt-Thin.woff ') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Cooper Hewitt Thin Italic';
  src: url('CooperHewitt-ThinItaliceot');
  src: url('CooperHewitt-ThinItaliceot?#iefix') format('embedded-opentype'),
       url('CooperHewitt-ThinItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}
